html {
    box-sizing: border-box;
    font-size: 10px;
    background-image: url("../images/starfield.png");
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 6vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    margin-top: 2%;
}

#game {
    overflow: hidden;
}

#container {
    margin: auto;
    max-width: 60%;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
}

#welcome {
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
}

.button {
    background-color: rgb(29, 44, 44);
    border: none;
    max-width: 40%;
    margin: auto;
    margin-top: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2.8vw;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    border: 2px solid white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
}

#help {
    font-size: 1.6vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    margin-top: 20%;
}

#back {
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    margin-top: -3%;
}

table, th, td {
    margin: 2%;
    margin-bottom: 5%;
    font-size: 1vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: black;
}

td img {
    width: 10vw;
    height: 10vw;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/starfield2.jpg");
    overflow: hidden;
}